@import url(button.css);
@import url(kep.css);
@import url(variables.css);
@font-face {
  font-family: 'playfair';
  src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
  font-family: 'playitalic';
  src: url(fonts/PlayfairDisplay-Italic.ttf)
}

* {
  font-family:'playfair';
}
html {
  align-items: center;
  background-image: url(képek/háttér.jpg)
}
body {
  display: block;
  max-width: 1040px;
  margin: 3rem auto;
  padding: 6rem;
  background-color: white;
  box-shadow: 0px 0px 30px rgb(255, 255, 255, 1);
}
.grid{
    /* height: 4rem; */
    align-items: center;
  }
 .grid img {
    width: 100%;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;
  }
  .grid a {
    font-family: var(inter);
  }
.title{
    align-items: center;
}
h1 {
    text-align: center;
    
  }
  .title i {
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-bottom: 2rem;
    font-family: 'playitalic';
    
  }
  .galeria a{
    font-family: 'playitalic';
  }
  a {
    text-decoration: none;
    text-align: center;
    margin: auto;
  }
  a:active {
    color: var(--active-a);
  }
  .grid3 {
    text-align: center;
  }
  .grid3 h2{
    padding-bottom: 3rem;
  }
  .grid3 h2,
.grid3 p {
    margin: 0;
    padding-right: 1rem;
    text-align: justify;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);

  }
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    
  }

  @media screen and (max-width: 600px){
  *{
    
  }
  body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 1rem;
  }
  nav a{
    font-size: 16px;
  }


  .grid{
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    
  }
  .grid img{
    margin: auto;
  }
  .grid button{
    margin-top: 5px;
  }
  .title{
    box-sizing: content-box;
  }
  h1{
    font-size: medium;
    text-align: center;
    width: 100%;
  }
  i{font-size: small;}
  .galeria{
    padding: 0;
    margin: auto;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .galeria img{
    margin: auto;
  }
  button{
    width: auto;
  }
  .grid3{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .grid3 img{
    padding: 0;
    margin: auto;
    max-width: 320px;
    height: auto;
  }
.grid3 p .grid3 h2{
  padding: 0;
  margin: auto;
}
.grid3 button{
  width: 100%;
margin: auto;
}
}
