.galeria {
  position: relative;
  margin-bottom: 2rem;
}

.galeria img {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  position: relative; 
}

.galeria a {
  position: absolute;
  bottom: 0;
  left: 0;
  color:white;
  font-family: Inter;
  text-align: center;
  padding-bottom: 2px;
  padding-left: 8px;
  margin-left: 10px;
  font-size: 16px;
  font-family: 'playitalic';
}



.galeria a:active {
  color: var(--active-a);
}
.galeria a:hover {
  color: var(--active-a);
}
.grid3 {
  display: grid;
  flex-direction: column;
  align-items: center;
}

.grid3 img {
  max-width: 500px;
  height: 370px;
  border-radius: 12px;
  margin-bottom: 1rem;
}
